@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1e30;
    --foreground: #ededed;
    --navy: #171b2d;
    --blue-transparant: rgba(74, 84, 133, 0.2);
    --red-accent: #EF463C;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, Helvetica, sans-serif;
}
